.row {
  background-color: lightgray;
  font-weight: bold;
}

[class^="col"] {
  padding: 1rem;
  border: 1px solid black;
  background-color: lightsalmon;
  font-weight: bold;
  /* text-align: center; */
}
